/*

VARS

*/

$black : #010000;
$white : #ffffff;
$lightGrey : #f2f2f2;
$darkGrey : #333;
$red : #ff1755;
$lightBlue: #4dffff;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: $black;
  font-weight: 400;
  font-style: normal;
}

