@import "_config.scss";

.container {
	width: 100%;
	padding: 0px;
}

body {
	font-family: 'Merriweather', serif;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

pre {
	width: 95%;
	margin-left:auto;
    margin-right:auto;
}

header {
	background-color: $white;
	color : $white;

	.dropdown{
		padding-top: 40px;
	}

	.btn {
		&:hover {
			background-color: $black !important;
			color : $white;
		}
	}

	.btn-default {
		&:focus{
			background-color: $white;
		}
	}

	.navbar {
		background-color: $white;
		border-color: $white;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color : transparent;
	}

	.navbar-nav {
		margin-top: 35px;
	}

	.navbar-toggle {
		margin-top: 35px;
	}

	.nav {
		li {
			text-align : center;
		}
	}

	.top {
		margin-top : -20px;
	}
}

.center {
	display: table;
	margin: 0 auto;
}


.wwa {
	background-color: #e6f7ff;

	h2 {
		margin : 0px;
		font-style: italic;
		padding-top: 15px;
	}

	.material-icons {
		font-size: 100px;
	}

	.icons {
		vertical-align: top;
	    display: inline-block;
	    text-align: center;
	    width: 50px;
	}

	.center-text {
		text-align: center;
	}

	pre { 
		margin-top : 20px;
		margin-bottom: 20px;
		overflow-x: hidden;
		white-space: pre-wrap;
		word-wrap: break-word;
		word-break: keep-all; 
	}

	.moveLeft {
		margin-left: -20px;
	}
}

.education {
	background-color: #99caff;
	text-align: center;

	h2 {
		margin : 0px;
		font-style: italic;
		padding-top: 15px;
	}

	pre { 
		margin-top : 20px;
		margin-bottom: 20px;
		overflow-x: hidden;
		white-space: pre-wrap;
		word-wrap: break-word;
		word-break: keep-all; 
	}

	.fa {
		margin: auto;
		display: table;
	}
}

.experience {
	background-color: #e6f7ff;

	.spacer {
		margin-bottom: 40px;
	}

	h2 {
		margin : 0px;
		font-style: italic;
		padding-top: 15px;
	}

	.hoverExperience {

		margin: auto;
		display: table;
	}

	.modal-container {
		height: 0px !important;
	}

	img {
		mix-blend-mode: multiply;
		width: 40vw;

		&:hover {
		    background-color:#000;
		    opacity:0.5;
		}
	}

	.aftia {
		width : 30vw !important;
	}

	hr {
		border-top: 2px solid black;
	}
}

.services {

	text-align: center;

	.panel {
		border: 0px solid !important;
	}

	.title {
		font-size: 35px;
		font-style: italic;
	}

	pre { 
		margin-top : 20px;
		margin-bottom: 20px;
		overflow-x: hidden;
		white-space: pre-wrap;
		word-wrap: break-word;
		word-break: keep-all; 
	}

	.pre-extended {
		width : 100%
	}

   	.panel-title {
   		font-size: 20px;
   		font-style: italic;
   	}

   	.panel-body {
   		font-size: 15px;
   		font-style: normal;
   		text-align: center;
   	}

	.tutoring {
		background-color: #e6f7ff;

			.mathCourses {
				width: 95%;
				display: table;
			   	margin: auto;

		   	.list-group-item {
		   		&:hover {
		   			background-color: $lightGrey;
		   		}
		   	}
		}
	}

	.analyst {
		background-color: #99caff;

		.analystTopics {
			width: 95%;
			display: table;
			margin: auto;

			.googleCloud {
				margin-top: 10px;

				li {

					font-size: 20px;
					
					&:hover {
						background-color: $lightGrey;
					}
				}
			}
		}
	}

	.costs {
		background-color: #e6f7ff;
		height: 100%;

		.tableOverride {

			margin: 0 auto;
			width: 95%;
			table {

				background-color: $white;

				th {
					text-align: center;
				}
			}
		}

	}
}

.blog {
}

.contactUs {
	
	span {
		margin-left: 30px;
		font-size: 20px;
	}

	.form {

		.form-group {
			padding-top: 30px;
			padding-bottom: 50px;
		}

		textarea {
			resize: none;
			height: 150px;
			margin-bottom: 50px;
		}

		button {
			margin-bottom: 30px;
		}

		span {
			padding-left: 20px;
		}

		.specify {
			display: none;
		}

		.wordsRemaining {
			margin-top: -60px !important;

		}

		.centerButton {
			margin: 0 auto;
			display: table;
			margin-bottom: 30px;
		}
	}

	.map {
		position: relative;
		height: 300px;
		margin-bottom: 28px;
	}

	.thankYou1 {
		display: none;
	}

	.thankYou2 {
		text-align: center; 
	}
}

footer {
	background-color: $lightGrey;
	hr {
		display: block;
   		height: 2px;
    	border: 0;
		border-top: 1px solid $black;
		margin: 1em 0;
		padding: 0; 
	}

	a {
		color: black;

		&:hover {
			color : black;
			opacity : 0.5;
		} 

		&:click {
			color : black;
		}
	}

	/* Only apply the CSS style on ever element except for the first one */
	.footerFonts div + div {
		margin-left: -10px;
	}

	address {
		float : right;
		padding-right: 20px;
	}

	@media(max-width: 530px)
	{
			font-size : 13px;
	}

	@media(max-width: 400px)
	{
			font-size : 11px;
	}

	@media(max-width: 800px)
	{
		span {
			font-size: 6vw !important; 
		}

		.footerFonts div + div {
			margin-left : 10px;
		}
	}
}